Let's install and import the pandas library. This is the only library we'll be using for this project.

In [1]:
!pip install pandas
import pandas as pd

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: C:\Users\dperez\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\dperez\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dperez\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dperez\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dperez\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\dperez\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\users\dperez\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Lets load in our datasets

In [2]:
SVI = pd.read_csv('Texas (2).csv') #this is our data from CDC 
ZIP = pd.read_excel('ZIP_TRACT_122023.xlsx') #this is our data from HUD converting Tracts to Zips

In [3]:
SVI

,ST,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,...,EP_ASIAN,MP_ASIAN,EP_AIAN,MP_AIAN,EP_NHPI,MP_NHPI,EP_TWOMORE,MP_TWOMORE,EP_OTHERRACE,MP_OTHERRACE
0,48,Texas,TX,48001,Anderson,48001950100,"Census Tract 9501, Anderson County, Texas",186.605650,4958,736,...,1.0,1.4,0.4,0.5,0.0,0.9,8.0,4.7,0.0,0.1
1,48,Texas,TX,48001,Anderson,48001950401,"Census Tract 9504.01, Anderson County, Texas",6.374261,4867,838,...,0.2,0.3,0.2,0.4,0.0,0.9,2.2,1.5,0.3,0.4
2,48,Texas,TX,48001,Anderson,48001950402,"Census Tract 9504.02, Anderson County, Texas",27.465086,7335,352,...,0.1,0.2,0.1,0.2,0.1,0.2,1.1,0.8,0.0,0.6
3,48,Texas,TX,48001,Anderson,48001950500,"Census Tract 9505, Anderson County, Texas",8.931332,4397,575,...,0.0,1.0,0.0,1.0,0.0,1.0,1.8,1.5,0.0,1.0
4,48,Texas,TX,48001,Anderson,48001950600,"Census Tract 9506, Anderson County, Texas",7.974505,4704,915,...,0.0,1.0,0.0,1.0,0.0,1.0,1.5,2.3,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6879,48,Texas,TX,48505,Zapata,48505950402,"Census Tract 9504.02, Zapata County, Texas",973.973726,2952,668,...,0.0,1.5,0.0,1.5,0.0,1.5,0.0,1.5,0.0,1.5
6880,48,Texas,TX,48507,Zavala,48507950100,"Census Tract 9501, Zavala County, Texas",430.198754,1764,512,...,0.0,2.5,0.0,2.5,0.0,2.5,0.0,2.5,0.0,2.5
6881,48,Texas,TX,48507,Zavala,48507950200,"Census Tract 9502, Zavala County, Texas",228.099423,1376,387,...,0.0,3.2,0.0,3.2,0.0,3.2,0.0,3.2,0.0,3.2
6882,48,Texas,TX,48507,Zavala,48507950301,"Census Tract 9503.01, Zavala County, Texas",631.589939,2321,510,...,0.1,0.2,0.0,1.9,0.0,1.9,0.9,1.5,0.0,1.9
6883,48,Texas,TX,48507,Zavala,48507950302,"Census Tract 9503.02, Zavala County, Texas",7.518418,6469,515,...,0.0,0.7,0.0,0.7,0.0,0.7,0.0,0.7,0.0,0.7

In [4]:
ZIP

,ZIP,TRACT,USPS_ZIP_PREF_CITY,USPS_ZIP_PREF_STATE,RES_RATIO,BUS_RATIO,OTH_RATIO,TOT_RATIO
0,501,36103158607,HOLTSVILLE,NY,0.000000,1.000000,0.000000,1.000000
1,601,72001956800,ADJUNTAS,PR,0.014530,0.012469,0.042683,0.015121
2,601,72113071700,ADJUNTAS,PR,0.158291,0.199501,0.128049,0.160094
3,601,72001956600,ADJUNTAS,PR,0.180513,0.351621,0.378049,0.196259
4,601,72001956700,ADJUNTAS,PR,0.646667,0.436409,0.451220,0.628527
...,...,...,...,...,...,...,...,...
188841,99925,2198000200,KLAWOCK,AK,1.000000,0.000000,1.000000,1.000000
188842,99926,2198940100,METLAKATLA,AK,1.000000,0.000000,1.000000,1.000000
188843,99927,2198000100,POINT BAKER,AK,0.000000,0.000000,1.000000,1.000000
188844,99928,2130000101,WARD COVE,AK,0.000000,0.000000,1.000000,1.000000
188845,99929,2275000300,WRANGELL,AK,1.000000,1.000000,1.000000,1.000000

We need to clean up our data sets to only have relevant columns, and make sure column names are consistent and we can understand them easily.

In [5]:
ZIP = ZIP[['ZIP', 'TRACT']]
ZIP

          ZIP        TRACT
0         501  36103158607
1         601  72001956800
2         601  72113071700
3         601  72001956600
4         601  72001956700
...       ...          ...
188841  99925   2198000200
188842  99926   2198940100
188843  99927   2198000100
188844  99928   2130000101
188845  99929   2275000300

[188846 rows x 2 columns]

In [6]:
#rename relevant SVI columns for better context
new_column_names = {
    'FIPS' : 'TRACT',
    'RPL_THEME1' : 'Socioeconomic Status',
    'RPL_THEME2' : 'Household Characteristics',
    'RPL_THEME3' : 'Racial & Ethnic Minority Status',
    'RPL_THEME4' : 'Housing Type & Transportation',
    'RPL_THEMES' : 'Overall SVI'
}

SVI = SVI.rename(columns=new_column_names)

#Only keeping relevant columns
SVI = SVI[['TRACT', 'Socioeconomic Status', 'Household Characteristics', 'Racial & Ethnic Minority Status', 
           'Housing Type & Transportation', 'Overall SVI']]

SVI

,TRACT,Socioeconomic Status,Household Characteristics,Racial & Ethnic Minority Status,Housing Type & Transportation,Overall SVI
0,48001950100,0.4500,0.8280,0.1354,0.8482,0.6448
1,48001950401,0.1415,0.0265,0.6124,0.3242,0.1244
2,48001950402,-999.0000,0.0066,0.6067,-999.0000,-999.0000
3,48001950500,0.5069,0.8672,0.5285,0.9126,0.7667
4,48001950600,0.6418,0.4335,0.2849,0.8012,0.6279
...,...,...,...,...,...,...
6879,48505950402,0.9475,0.9987,0.9140,0.8292,0.9925
6880,48507950100,0.7444,0.9106,0.9803,0.6791,0.8504
6881,48507950200,0.7018,0.9675,0.6824,0.5878,0.8080
6882,48507950301,0.8347,0.9374,0.8093,0.8693,0.9339
6883,48507950302,0.5428,0.8660,0.9803,0.7040,0.7532

Let's take out any scores less than or equal to 0. Theoretically we can't have census tracts that have no absolute vulnerability or negative vulnerability.

In [7]:
columns_to_check = [
    'Socioeconomic Status',
    'Household Characteristics',
    'Racial & Ethnic Minority Status',
    'Housing Type & Transportation',
    'Overall SVI'
]

# Filter out rows where any of the specified columns have values of 0 or less
SVI = SVI[~(SVI[columns_to_check] <= 0).any(axis=1)]

SVI

,TRACT,Socioeconomic Status,Household Characteristics,Racial & Ethnic Minority Status,Housing Type & Transportation,Overall SVI
0,48001950100,0.4500,0.8280,0.1354,0.8482,0.6448
1,48001950401,0.1415,0.0265,0.6124,0.3242,0.1244
3,48001950500,0.5069,0.8672,0.5285,0.9126,0.7667
4,48001950600,0.6418,0.4335,0.2849,0.8012,0.6279
5,48001950700,0.7482,0.9645,0.7063,0.9383,0.9363
...,...,...,...,...,...,...
6879,48505950402,0.9475,0.9987,0.9140,0.8292,0.9925
6880,48507950100,0.7444,0.9106,0.9803,0.6791,0.8504
6881,48507950200,0.7018,0.9675,0.6824,0.5878,0.8080
6882,48507950301,0.8347,0.9374,0.8093,0.8693,0.9339
6883,48507950302,0.5428,0.8660,0.9803,0.7040,0.7532

In [11]:
SVI.describe()

,TRACT,Socioeconomic Status,Household Characteristics,Racial & Ethnic Minority Status,Housing Type & Transportation,Overall SVI
count,6.693000e+03,6693.000000,6693.000000,6693.000000,6693.000000,6693.000000
mean,4.822884e+10,0.507483,0.505637,0.503031,0.509488,0.508839
std,1.437671e+08,0.286277,0.287696,0.288577,0.283307,0.284539
min,4.800195e+10,0.000100,0.000300,0.000900,0.018700,0.000700
25%,4.811302e+10,0.261900,0.258200,0.253200,0.264200,0.263800
50%,4.820142e+10,0.509400,0.508000,0.505000,0.509600,0.509900
75%,4.835500e+10,0.755100,0.754900,0.753500,0.754800,0.754900
max,4.850795e+10,1.000000,1.000000,0.989200,1.000000,1.000000

In [8]:
SVI_Merged = SVI.merge(ZIP, on='TRACT')
SVI_Merged

,TRACT,Socioeconomic Status,Household Characteristics,Racial & Ethnic Minority Status,Housing Type & Transportation,Overall SVI,ZIP
0,48001950100,0.4500,0.8280,0.1354,0.8482,0.6448,75763
1,48001950100,0.4500,0.8280,0.1354,0.8482,0.6448,75801
2,48001950100,0.4500,0.8280,0.1354,0.8482,0.6448,75803
3,48001950401,0.1415,0.0265,0.6124,0.3242,0.1244,75803
4,48001950401,0.1415,0.0265,0.6124,0.3242,0.1244,75880
...,...,...,...,...,...,...,...
13475,48507950200,0.7018,0.9675,0.6824,0.5878,0.8080,78872
13476,48507950301,0.8347,0.9374,0.8093,0.8693,0.9339,78829
13477,48507950301,0.8347,0.9374,0.8093,0.8693,0.9339,78834
13478,48507950301,0.8347,0.9374,0.8093,0.8693,0.9339,78839
13479,48507950302,0.5428,0.8660,0.9803,0.7040,0.7532,78839

If you notice Zip Codes repeat, so we need to aggregate by Zip Code. Aggregations are based on averages (mean) rather than sum.

In [9]:
aggregated_data = SVI_Merged.groupby('ZIP').mean().reset_index()

#Dropping the Tract column since it is no longer relevant to our analysis
aggregated_data = aggregated_data.drop('TRACT', axis=1)
aggregated_data

,ZIP,Socioeconomic Status,Household Characteristics,Racial & Ethnic Minority Status,Housing Type & Transportation,Overall SVI
0,73301,0.815950,0.520200,0.670600,0.859600,0.771700
1,73960,0.375900,0.628900,0.394300,0.771600,0.559700
2,75001,0.405314,0.169514,0.525700,0.427371,0.324786
3,75002,0.205620,0.267500,0.309520,0.190565,0.168575
4,75006,0.501254,0.359838,0.575369,0.472023,0.463223
...,...,...,...,...,...,...
2418,79955,0.995800,0.330600,0.831200,0.999900,0.981300
2419,79968,0.403100,0.284000,0.587500,0.590200,0.441500
2420,79995,0.976700,0.997100,0.954400,0.888200,0.996900
2421,79996,0.481900,0.689300,0.781000,0.544900,0.594800
2422,79997,0.816700,0.936100,0.871800,0.937500,0.953600

Let's export this data!

In [10]:
#aggregated_data.to_csv('TX_SVI_ZIP.csv', index=False)

PermissionError: [Errno 13] Permission denied: 'TX_SVI_ZIP.csv'